body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
    margin-left:200px;
    margin-right: 200px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}